.M706C61796572-control-playBtn

  // background-image: url("http://player.plures.net/prod/html5playerbase/res/button/play_first_normal.png");
  // background-position: center;
  // background-repeat: no-repeat;