.M706C61796572-control-resolution {
  position: relative;
  float: right;
  width: 94px;
  height: 33px;
  color: #c7c7c7;
  text-align: center;
  font-size: 14px;
}

.M706C61796572-control-resolution:hover {
    color: #fff;
  }

.M706C61796572-control-resolution>p {
  /* width: 100%;
  height: 100%;
  background: #222;
  z-index: 10 */
}

.M706C61796572-control-resolution>p>span {
  user-select: none;
  display: inline-block;
  width: 73px;
  height: 20px;
  margin: 6px 10px;
  background: #333;
  border-radius: 8px;
}

.M706C61796572-control-resolution>ul {
  position: absolute;
  user-select: none;
  background: #060606;
  width: 124px;
  border-radius: 3px;
  padding: 10px 0px;
  /* -webkit-transition: 0.5s all cubic-bezier(0.42, 0, 0.15, 1.18); */
  left: -15px;
  bottom: -500px;
  z-index: -1;
}

.M706C61796572-control-resolution>ul.M706C61796572-showUp {
  bottom: 37px;
}

.M706C61796572-control-resolution>ul>li {
  width: 124px;
  height: 40px;
  border-radius: 14px;
  text-align: center;
  line-height: 40px;
  font-size: 15px;
  color: #FFF;
}

.M706C61796572-control-resolution>ul>li.M706C61796572-selectStream {
  background: #23d31e;
  color: #fff;
}

.M706C61796572-control-resolution>ul>li:hover {
  background: #23d31e;
  color: #fff;
}

.M706C61796572-control-resolution>ul>li:selection {
  background: #23d31e;
  color: #fff;
}