.act-data {
    background-color: rgba( 30, 30, 30, 0.502);
    position: absolute;
    margin: 10px 0 0 20px;
    height: 33px;
    border-radius: 33px;
    user-select: none;
    z-index: 1;
}

.act-data-show {
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    top: 0px;
}

.act-data-hide {
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    top: -43px;
}

.act-data span {
    display: block;
    margin-top: 4.5px;
    margin-left: 9px;
    float: left;
    height: 24px;
    width: 24px;
    background: url("../img/act-playbtn.png") no-repeat;
}

.act-data .act-title {
    margin: 0 10px 0 10px;
    padding: 0px;
    line-height: 33px;
    color: #fff;
    float: left;
    font-size: 14px;
}

.act-data i {
    display: block;
    width: 2px;
    height: 19px;
    background-color: rgb(255, 255, 255);
    float: left;
    margin: 7px 0 0 5px;
}

.act-data .act-time {
    float: left;
    margin: 0 10px 0 15px;
}

.act-data .act-time p {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 14px;
    line-height: 33px;
    float: left;
}

.act-data .act-time .act-duration {
    float: left;
}

.act-data .act-time i {
    display: block;
    background-color: rgba( 0, 0, 0, 0.302);
    width: 118px;
    height: 5px;
    border-radius: 5px;
    margin: 14px 0 0 15px;
}

.act-data .act-time i i {
    display: block;
    background-color: rgb(255, 255, 255);
    margin: 0;
    width: 66px;
}